@use '../abstracts' as *;
@use '../base/fonts' as font;
@use '../components/01-atoms/button' as button;
@use "sass:map";


/*************************************************************
   * GENERAL
*************************************************************/

// fonts and headings are set in "/base/_fonts.scss"

* {
	box-sizing: border-box;
}

:root {
	--app-height: 100%;
	--start: auto;
	--span: 5;
}

.skip-link {
	position: absolute;
	top: -50px;
}

#main {
	position: relative;
}

.wrapper{
	overflow: hidden;
}

.u-darkMode header[aria-label="Global header navigation"] {
	background-color: swatch('Black');
}

.content{
	overflow: auto;
}

/********************************
	* UTILITY
********************************/
.clearfix {
	@include clearfix();
}

.accessibility,
.sr_only {
	@include sr_only();
}

.scroll--lock {
	overflow: hidden;
}
.scroll--lock--mobile {
	overflow: hidden;
	@include create-mq($md-width) {
		overflow: visible;
	}
}

.disabled {
	pointer-events: none;
	opacity: 0.5;
	cursor: not-allowed;
}

/********************************
	* LAYOUT
********************************/
// disable tel links on desktop
a[href^='tel:'] {
	@include create-mq($md-width) {
		pointer-events: none;
	}
}

// Toggle
.toggle__wrapper {
	&.active {
		.toggle {
			&:before {
				transform: rotate(0deg);
			}
		}
	}
	.toggle {
		margin: 0;
		padding: 0;
		list-style: none;
		&:before,
		&:after {
			content: '';
			display: block;
			transition: all $t_med ease;
			width: rem(14);
			height: 2px;
			background: $color-black;
		}
		&:before {
			transform: rotate(90deg);
		}
		&:after {
			margin-top: -2px;
		}
	}
}

//modaal
.modaal-container{
	.modaal-confirm-wrap {
		display: flex;
		gap: .5rem;
		flex-direction: column;
		@include create-mq($lg-width) {
			flex-direction: row;
			gap: 1rem;
		}
		.modaal-confirm-btn{
			margin:0;
		}
	}
	.modaal-btn,
	.modaal-ok{
		@include button.btn(button.$btnOutline);
	}
	.modaal-cancel{
		@include button.btn(button.$btnOutline);
	}
	.modaal-gallery-label{
		@include font.captionLines();
		font-family: $font-stack-secondary;
		text-align: left;
		padding-left: .5rem;
		border-left: 1px swatch("White") solid;
	}
}

// AJAX Class - Overlay
.ajax__overlay {
	.ajax__overlay--icon {

		&:before {
			content: ' ';
			display: block;
			width: 64px;
			height: 64px;
			margin: 8px;
			border-radius: 50%;
			border: 6px solid $color-black;
			border-color: $color-black transparent $color-black transparent;
			animation: ajax-dual-ring 1.2s linear infinite;
		}
		& {
			display: inline-block;
			width: 80px;
			height: 80px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

	}
	& {
		@include element_fade('out');
		position: fixed;
		z-index: $z_max;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background-color: rgba($color-white, 0.65);
		cursor: progress;
	}
}
// https://loading.io/css/
@keyframes ajax-dual-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.ajax--active {
	.ajax__overlay {
		@include element_fade('in');
	}
}

// remove css animation for those who set their browsers to prefers reduced motion
@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

// for outline styles on selectable elements
:is(a, button, input, textarea, summary):focus-visible {
	outline: $outline-size $outline-style $outline-color;
	outline-offset: $outline-size;
}
:is(a, button, input, textarea, summary):focus:not(:focus-visible) {
	outline: none;
}

// display styles
.mobile-only {
	@include create-mq($md-width) {
		display: none;
	}
}
.tablet-min {
	@media (max-width: ($md-width)) {
		display: none;
	}
}
