@use '../../abstracts' as *;

/********************************
	Breadcrumbs
********************************/
.breadcrumbs,
.yoast-breadcrumbs {
    font-family:  $font-stack-secondary;
    font-size: 0.875rem;

    ul{
        list-style: none; 
        margin: 0; 
        padding:0;
        display: inline-block;
        li{
            margin: 0; 
            padding:0;
            display: inline;
            word-wrap: break-word;
            &:not(:last-child){
                &::after{
                    content: '|';
                    display: inline-block;
                    margin: 0 .5rem;
                }
            }
        }
    }

    a {
        text-decoration: underline;
    }
    .breadcrumb_last {
        font-weight: 500;
    }
}
