@font-face {
   font-family: 'Aboreto';
   src: url('../../fonts/Aboreto/Aboreto-Regular.woff2') format('woff2'),
       url('../../fonts/Aboreto/Aboreto-Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Hina Mincho';
   src: url('../../fonts/HinaMincho/HinaMincho-Regular.woff2') format('woff2'),
       url('../../fonts/HinaMincho/HinaMincho-Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

